@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Oswald:wght@300&family=Playfair+Display&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

body {
	background: rgb(254, 255, 253);
	background: linear-gradient(45deg, rgba(254, 255, 253, 1) 20%, rgba(232, 255, 226, 1) 100%);
	font-family: "Montserrat", serif;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", serif;
}
.navbar-brand {
	font-family: "Montserrat", serif;
	color: #285430;
}

.navbar-nav .active {
	border-bottom: #285430 solid 3px;
}

.hero-section {
	background: url("../img/shirt.jpg") no-repeat;
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.btn-dark-green {
	background-color: #285430;
	color: white;
	text-transform: uppercase;
	border: none;
	padding: 10px 20px;
}

#testimonial1 {
	width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
}

.circle {
	display: block;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	position: relative;
	width: 200px;
	height: 240px;
	background-color: white;
	border-radius: 50%;
}

#home-text-header{
	color: #4B7E7E;
	font-size: 50px;
}

#home_text {
	text-indent: 50px;
	text-align: justify;
}

.buttons {
	background-color: #8EC3B0;
	color: black;
	border: 0;
	text-decoration: none;
	font-weight:900;
}

#home_btn {
	display: flex;
	justify-content: center;
	align-items: end;
}

input[type="text"],
[type="email"],
[type="password"] {
	border-radius: 25px;
	border: 1px solid #9ed5c5;
	padding: 20px;
	width: 100%;
	height: 15px;
	background-color: white;
}

#textarea {
	border-radius: 25px;
	border: 1px solid #9ed5c5;
	padding: 20px;
	background-color: white;
}

.card {
	border: none;
}

.vignette {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 200px rgba(255, 255, 255, 0.9) inset;
}

.carousel_img {
	opacity: 15%;
}

#footer {
	background-color: #c8f2d0;
}

#pic_logo {
	width: 50px;
	height: 50px;
}

/* doms */

.do {
	margin-left: 175px;
}

.text {
	margin-top: 1800px;
}

.video {
	margin-top: 1350px;
}

/* for articles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

.wrapper {
	display: table;
	height: 100%;
	width: 100%;
}

.container-fostrap {
	display: table-cell;
	padding: 1em;
	text-align: center;
	vertical-align: middle;
}
.fostrap-logo {
	width: 100px;
	margin-bottom: 15px;
}
h1.heading {
	color: #fff;
	font-size: 1.15em;
	font-weight: 900;
	margin: 0 0 0.5em;
	color: #505050;
}
@media (min-width: 450px) {
	h1.heading {
		font-size: 3.55em;
	}
}
@media (min-width: 760px) {
	h1.heading {
		font-size: 3.05em;
	}
}
@media (min-width: 900px) {
	h1.heading {
		font-size: 3.25em;
		margin: 0 0 0.3em;
	}
}
.card {
	display: block;
	line-height: 1.42857143;
	background-color: #c8f2d0;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	transition: box-shadow 0.25s;
}
.card:hover {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-card {
	width: 100%;
	height: 200px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	display: block;
	overflow: hidden;
}
.img-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.25s ease;
}
.card-content {
	padding: 15px;
	text-align: left;
}
.card-title {
	margin-top: 0px;
	font-weight: 700;
	font-size: 1.65em;
}
.card-title a {
	color: #000;
	text-decoration: none !important;
}
.card-read-more {
	border-top: 1px solid #d4d4d4;
	text-align: center;
}

.card-read-more a {
	text-decoration: none !important;
	padding: 10px;
	font-weight: 600;
	text-transform: uppercase;
}

/* for articles */

.articles {
	height: 1650px;
}

.card-arti {
	height: 470px;
}

.image {
	width: 100px;
	margin-left: 150px;
}

.cd {
	width: 75%;
}

/* for videos */

.vidCards {
	width: 350px;
	height: 375px;
}
.vidcarousel {
	padding-left: 50px;
}

.controller-r {
	padding-left: 13%;
}

.controller-l {
	padding-right: 13%;
}
/* for vid */
#border-line{
	width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#text-img {
	height: 550px;
	width: 550px;
	border-radius: 5%;
}

#text-img2 {
	height: 500px;
	border-radius: 3%;
	object-fit: cover;
	width: 100%;
}
.con-text2{
	position: relative;
	text-align: center;
	color: white;
}

.t-i-text2 {
	position: absolute;
	top: 35%;
	left: 10%;
	text-shadow: 2px 2px 8px #000000;
}

.f-text-t {
	font-size: medium;
	text-indent: 30px;
	text-align: justify;
}

.d-d-text {
	font-size: medium;
	text-align: justify;
}
/* doms */

.btn-dark-green{
    background-color: #285430;
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
}

#testimonial1 {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; 
}

.circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    width: 200px;
    height: 240px;
    background-color: white;
    border-radius: 50%
}

#home_text {
    text-indent: 50px;
    text-align: justify;
}

.buttons {
    background-color: #BCEAD5;
    color: black;
    border: 0;
}

#home_btn {
    display: flex;
    justify-content: center;
    align-items: end;
   
}

input[type="text"], [type="email"], [type="password"]{
    border-radius: 25px;
    border: 1px solid #9ED5C5;
    padding: 20px; 
    width: 100%;
    height: 15px;   
    background-color: white; 

}

#textarea {
    border-radius: 25px;
    border: 1px solid #9ED5C5;
    padding: 20px; 
    background-color: white; 
}

.card {
    border: none;
  }

.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(222, 245, 221, 0.9) inset;
}

.carousel_img {
    opacity: 15%;
}

#footer{
    background-color: #C8F2D0;

}

#pic_logo {
    width: 50px;
    height: 50px;
}

#btn_effect{
    background-color: #C8F2D0;
    border: none;
    transition: 0.3s;
}
  
#btn_effect:hover {
    transform: scale(1.1, 1.1);
}

.t_carousel_img {
    width: 250px;
    height: 250px;
	transition: 0.5s;
}

.testimonial_content {
    text-indent: 30px;
    text-align: justify;
}

/*About Us*/

/*FERRER*/
.border{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.benefits .border{
    opacity: 5%;
}

.about{
    position: relative;
    color: white;
}

.about-img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    max-width: 75%;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.center-right{
    position: absolute;
    top: 30%;
    left: 40%;
    right: 10%;
}

.center-right h2{
    font-size: 60px;
    margin-bottom: -3%;
    text-shadow: 2px 2px black;
}

.center-right h1{
    font-size: 76px;
    text-shadow: 2px 2px black;
}

.center-right p{
    font-size: 20px;
    text-indent: 40px;
    text-align: justify;
    margin-left: 8%;
    margin-right: 8%;
    text-shadow: 2px 2px black;
}

.undr-img{
    font-size: 25px;
    margin: 0% 5% 0% 5%;
    padding-bottom: 1%;
    text-shadow: 1px 1px darkgray;
}

.ebnft-img{
    max-width: 250px;
    float: left;
    margin-left: 13%;
    padding-top: 5%;
    
}

.sbnft-img{
    max-width: 250px;
    float: right;
    margin-right: 13%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.end {
    text-align: justify;
    margin-left: 32%;
    margin-right: 12%;
    padding-top: 8%;
    padding-bottom: 8%;
}

.start {
    text-align: justify;
    margin-left: 10%;
    margin-right: 32%;
    padding-top: 8%;
    padding-bottom: 8%;
}

.benefits p{
    text-indent: 40px;
}

.th-tm p{
    text-indent: 40px;
    text-align: justify;
    margin-top: 5%;
}

.tt-img{
    max-width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid lightgray;
    border-radius: 5%;
}

.lst_img {
    margin-top: 10%;
    padding-top: 5%;
}

/*FERRER*/

/* forums */
.forum-pic {
	width: 50px;
	height: 50px;
}

#share-btn {
	width: 35px;
	height: 35x;
}
.forum-card {
	border-radius: 25px;
}
.forum-div {
	height: auto;
	height: inherit;
}
#ta-dis {
	background-color: #e9ecef;
    opacity: 1;
	border-radius: 25px;
	border: 1px solid #9ed5c5;
	padding: 20px;
}

#ta-dis-n{
	background-color: #e9ecef;
    opacity: 1;
	border-radius: 25px;
	border: 1px solid #9ed5c5;
	padding: 20px;
}
.button-forum {
	background-color: transparent;
	border: none;
	font-weight: bold;
}
#backbtn{
	text-decoration: none;
}